params {
    // Input
    test_vcf       = null
    clinvar_vcf    = null

    // Preparation
    n_samples      = 500

    // Benchmark design
    ncpus          = [1, 2, 4, 8, 16, 32]
    nreps          = 5
    mem_per_cpu    = 2

    // Benchmark components
    run_bcftools   = true
    run_vcfanno    = false

    // Output
    outdir         = 'results'
    publish_report = false

    // Containers
    container_bcftools = 'ghcr.io/jemunro/blocky/blocky-bcftools:v26.04.0-rc.3'
    container_vcfanno  = 'ghcr.io/jemunro/blocky/blocky-vcfanno:v26.04.0-rc.3'
    container_r        = 'rocker/verse:4.5.2'
}

profiles {
    test {
        params.test_vcf    = "https://ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz"
        // params.test_vcf    = "${projectDir}/../tests/data/small.vcf.gz"
        params.clinvar_vcf = "${projectDir}/../tests/data/small.vcf.gz"
        params.ncpus       = [1, 2, 4, 8, 16]
        params.nreps       = 3
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
    }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 1
    clusterOptions = '--hint=nomultithread'

    withLabel: 'process_bcftools' {
        container = params.container_bcftools
        memory    = { (task.cpus * params.mem_per_cpu).GB }
    }

    withLabel: 'process_vcfanno' {
        container = params.container_vcfanno
        memory    = { (task.cpus * params.mem_per_cpu).GB }
    }

    withLabel: 'process_r' {
        container = params.container_r
        memory    = { (task.cpus * params.mem_per_cpu).GB }
    }
}
